body {
    background-color: slategrey;
    color: white;
    font-size: 130%;
    font-family: 'Courier New';
}

#outer {
    display: flex;
    flex-direction: row;
}

#canvas {
    border: 2px solid white;
}

#left {
    width: 500px;
    border: 2px solid white;
    padding: 15px;
    margin-bottom: 50px;
}

#buttons {
    display: flex;
    flex-direction: column;
}

#row1, #row2, #row3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* #button-1, #button-2, #button-3, #button-4 { */
    /*
input {
    font-size: 100%;
    padding: 15px;
    margin: 3px;
    font-family: 'Courier New';
}
*/

#button-1, #button-2, #button-3, #button-4 {
    background-color: ivory;
    color: slategray;
    font-size: 90%;
    padding: 5px;
    margin: 3px;
    font-family: 'Courier New';
}

.choice-button {
    background-color: ivory;
    color: slategray;
    font-size: 90%;
    padding: 5px;
    margin: 3px;
    font-family: 'Courier New';
}

#continue-button {
    background-color: ivory;
    color: slategray;
    font-size: 90%;
    padding: 5px;
    margin: 3px;
    font-family: 'Courier New';
}

#result-div {
    color: white;
}

#lives-left {
    border: 2px solid white;
    font-size: 130%;
    padding: 5px;
    width: 50%;
}