body {
    background-color: slategrey;
    color: white;
    font-size: 140%;
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    margin: 10px;
    font-size: 30pt;
    font-weight: 700;
}

h2 {
    margin: 10px;
    font-size: 24pt;
    font-weight: 600;
}

#outer {
    display: flex;
    flex-direction: column;
    width: 980px;
}

#result-div {
    width: 980px;
}

#lower {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#canvas {
    border: 2px solid white;
}

#buttons {
    display: flex;
    flex-direction: column;
}

#actions {
    border: 2px solid white;
    width: 100%;
}

#row1, #row2, #row3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


#button-1, #button-2, #button-3, #button-4 {
    background-color: white;
    color: black;
    font-size: 90%;
    padding: 5px;
    margin: 3px;
}

.choice-button {
    background-color: white;
    color: black;
    font-size: 90%;
    padding: 5px;
    margin: 15px;
}


/*
#continue-button {
    background-color: ivory;
    color: slategray;
    font-size: 90%;
    padding: 5px;
    margin: 3px;
    font-family: 'Courier New', monospace;
}
*/

#switch-button {
    font-family: 'Courier New', monospace;
    font-size: 24pt;
    margin-top: 15px;
    margin-bottom: 15px;
}

#header-message {
    font-size: 200%;
}

#lives-left {
    font-size: 100%;
    color: black;
    font-weight: 900;
    margin-left: 20px;
    color: navy;
}

.neat-color {
    color: navy;
}
